
APP_BASE_URL='https://flipya.mydomain.com'
NODE_ENV='production'
JWT_SECRET_KEY='(insert key)'

DATABASE_URL='postgresql://myname:postgres@localhost/flipya'

EMAIL_API_SENDER='flipya@mydomain.com'
EMAIL_API_USERNAME='joe_smith'
EMAIL_API_HOST='https://mail-app-domain.com'
EMAIL_API_ENDPOINT='email'
EMAIL_API_TOKEN='(insert key)'

PORT=5005

