body {
  background-color: cornsilk;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 4.5vw;
  text-align: center;
}

.container {
  perspective: 1000px;
}

.main {
  display: flex;
  flex-direction: row;
}

.console {
  width: 50%;
}

.card {
  position: relative;
  border: 1.5vw solid rgb(119, 173, 209);
  width: 30vw;
  height: 40vw;
  text-align: center;
  left: 8.25vw;
  font-size: 6vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  border-radius: 2.25vw;
  transition: transform 665ms;
  transform-style: preserve-3d;
}

.card-top {
  position: absolute;
  width: 100%;
  height: 9.75vw;
  border-radius: 0.75vw 0.75vw 0 0;
  /* opacity: 0.2; */
  z-index: 2;
}

.card-bottom {
  position: absolute;
  width: 100%;
  height: 21vw;
  bottom: 0px;
  border-radius: 0 0 0.75vw 0.75vw;
  /* opacity: 0.2; */
  z-index: 2;
}

.hebrew {
  font-size: 6.75vw;
  font-family: "Frank Ruhl Libre", "David Libre";
  font-weight: bold;
  font-style: normal;
  margin-top: -0.2vw;
}

.small {
  font-size: 4.5vw;
}

.smaller {
  font-size: 3.45vw;
  margin-top: 0.6vw;
}

.smallest {
  font-size: 2.7vw;
  margin-top: 0.6vw;
}

.hebrew-small {
  font-size: 5.25vw;
}

.hebrew-smaller {
  font-size: 4.05vw;
}

.hebrew-smallest {
  font-size: 3vw;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 1vw;
}

.back {
  transform: rotateY(-180deg);
}

.text-box {
  position: absolute;
  background-color: #eee;
  width: 100%;
  top: 9.75vw;
  transition: transform 600ms;
  line-height: 9vw;
  text-wrap: nowrap;
  overflow: hidden;
  user-select: none;
}

.front-text-box {
  height: 19vw;
}

.top-text {
  height: 9vw;
  width: 100%;
  padding-top: 0.3vw;
  transition: opacity 500ms ease-in;
  opacity: 1;
}

.bottom-text {
  position: absolute;
  height: 9vw;
  width: 100%;
  top: 10.2vw;
  margin-top: -0.9vw;
  transition: opacity 500ms ease-in;
  opacity: 1;
}

.back-text {
  width: 100%;
  height: 10.2vw;
  margin-top: 0.45vw;
  container-type: inline-size;
}

.prev-next-row {
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.next-button {
  background-color: rgb(189, 218, 238);
  font-size: 3vw;
  border-radius: 1.5vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.prev-button {
  background-color: rgb(189, 218, 238);
  font-size: 3vw;
  border-radius: 1.5vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.go-row {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
}

.go-button {
  background-color: rgb(151, 212, 151);
  font-size: 3vw;
  border-radius: 1.5vw;
}

.stop-button {
  background-color: rgb(219, 170, 170);
  font-size: 3vw;
  border-radius: 1.5vw;
  margin-top: 7.4vw;
}

.restart-button {
  font-size: 3vw;
  border-radius: 1.5vw;
  background-color: rgb(189, 218, 238);
  margin-top: 4vw;
}

.speed-row {
  margin-top: 3vw;
  display: flex;
  justify-content: center;
}

.speed-label {
  font-size: 2.5vw;
  align-content: center;
}

.speed-input {
  background-color: aqua;
  width: 15vw;
  margin-left: 1.5vw;
}

.options {
  height: 60vw;
  width: 37.5vw;
  margin-top: 13vw;
}

.reverse-row {
  margin-top: 15px;
}

.reverse-label {
  user-select: none;
  padding-left: 5px;
}

.practice-row {
  margin-top: 10px;
}

.practice-label {
  user-select: none;
  padding-left: 5px;
}

.practice-input {
  width: 30px;
  margin-left: 10px;
}

.email-row {
  margin-top: 15px;
}

.email-label {
  user-select: none;
}

.email-input {
  margin-left: 10px;
}

.email-button-row {
  margin-top: 10px;
}

.email-button {
}

.input-invalid {
  background-color: pink;
}

.card-message {
  font-size: 2.4vw;
  margin-top: 6vw;
  user-select: none;
  font-style: italic;
  width: 20.25vw;
  margin-left: 4.65vw;
  background-color: rgba(240, 240, 240, 0.4);
}

.verified-box {
  background-color: rgb(166, 238, 166);
  padding: 15px 30px 15px 30px;
}

.unverified-box {
  background-color: lightpink;
  padding: 15px 30px 15px 30px;
}
